/*@import url('https://fonts.googleapis.com/css?family=Ubuntu');*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.bg {
    background: url('image/img1.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}

.loading {
    font-size: 50px;
    color: black;
}


